.footer {
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .pai {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textMuted {
    font-size: 14px;
  }